/* 
Alex Christensen
IS 201 Section 001
*/

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
}

body h1 {font-size: 2.4em;}

.full-background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}

.header-format {
    height: 100px;
    border-bottom: solid 1px gray;
    background-color: #FFE81F;
}

.header-style {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

.header-links {
    display: flex;
    gap: 50px;
    font-size: 1.3em;
}

.header-links a:visited {color: #000000;}

.mainbody-format {
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
    padding: 25px 0;
}

.img-container {
    text-align: center;
    width: 485px;
    margin: 0 auto;
}

.my-img {
    width: 100%;
    height: auto;
}

.body-text-section {
    width: fit-content;
    margin: 35px auto;
    text-align: left;
    font-size: 1.1em;
}

.body-text-section h2 {
    text-align: center;
    font-size: 2.2em;
}

.mainbody-format a {color: white;}

.mainbody-format a:visited {color: white;}

.footer-format {
    border-top: solid 1px gray;
    background-color: #b8b8b8;
    height: fit-content;
    font-size: 0.75em;
    text-align: center;
}

/* YouTube Styles */
.video-container {
    margin: 0 auto;
    width: 485px;
    height: auto;
}

.video-container iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
}

/* Tableau Styles + Formatting */
.viz-container {
    width: 100%;
    height: 1370px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin: 25px 0px;
}

.tableau-scaled {
    transform: scale(0.75);
    transform-origin: top center;
    width: 200%;
}

@media (min-width: 1200px) {
    .tableau-scaled {
        transform: scale(0.75);
        width: 133.33%;
    }
}